<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Templates practice</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
    <h1>Hello everyone..have a good day!</h1>
    

    <img src="{% static 'images/image.jpg' %}" alt="">

    {{ insert_me }}

    <div class="database">
        {% if access_record %}
            <table>
                <thead>
                    <th>Website Name</th>
                    <th>Data Accessed</th>
                </thead>
                {% for ac in access_record %}
                <tr>
                    <td>{{ ac.name }}</td>
                    <td>{{ ac.date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>THERE'S NO ACCESS RECORD!</p>
        {% endif %}
    </div>


</body>
</html>