{% extends 'HelloWorld/base.html' %}

{% block body_block %}

    <div class="jumbotron">
        <h1>Univeristy Details page</h1>
        <h2>Univeristy Details</h2>
        <p>Name: {{university.name}}</p>    <!--{{vrstydview.name}} -->
        <p>Faculty: {{university.Faculty}}</p>
        <p>Department: {{university.Department}}</p>

        <h2>Students</h2>
        {% for ss in university.stdnts.all %}
            <p>{{ss.name}} is {{ss.age}} years old</p>
        {% endfor %}
    </div>





{% endblock %}

